@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Audiowide&family=Baloo+2:wght@400..800&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moon+Dance&family=Offside&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&family=Tangerine:wght@400;700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root{
    --font-montserrat: "Montserrat", sans-serif;
    --font-baloo: "Baloo", sans-serif;
    --font-moon: "Moon Dance", cursive;
    --font-roboto: "Roboto", sans-serif;
}

/* Backgrounds */

.hero-bg{
     background-image: url(../img/ai.png);
    /* background-position-y: top; */
    background-position: right;
    background-color: black;
    background-repeat: no-repeat;
}
.hac{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../img/hac.png);
    background-position: center;
    height: 15em;
    background-repeat:no-repeat;
}
.work{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../img/workshop.png);
    background-position: center;
    height: 15em;
    background-repeat:no-repeat;
}
.semi{
    display: flex;
    flex-direction: column;
    justify-content: end;
     background-image: url(../img/seminar.png);
    background-position: center;
    height: 15em;
    background-repeat:no-repeat;
}
.pitch{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../img/pitch.png);
    background-position: center;
    height: 15em;
    background-repeat:no-repeat;
}
.testimonial{
    background: url(../img/elli1.png),rgba(0, 0, 0, 1);
    background-size: 30em;
    background-repeat: no-repeat;
}
.p2{
      background:url(../img/elli1.png);
      background-position: right;
    background-size: 10em;
    background-repeat: no-repeat;
}
.p3{
      background:url(../img/elli1.png);
      background-position:left;
    background-repeat: no-repeat;
}
.innovation{
    background-image: url(../img/Frame-18.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* fonts */

nav{
    font-family: var(--font-roboto);
}

h1, .sub{
    font-family: var(--font-baloo);
}
h2, .text{
    font-family: var(--font-moon);
}
.nums, .bodyText{
    font-family: var(--font-montserrat);
}
.space{
    font-size: 5em;
    font-weight: 900;
    color: white;
}

/* Animations */

.nav:hover, nav ul li a:hover{
    /* font-size: 21px; */
     border-bottom: 1px dotted;
    font-weight:600;
    transition: 0.8s;
    transition-duration: 0.3s;
}
.yel-btn:hover{
    background-color: #eca922df;
     transition: 0.8s;
    transition-duration: 0.3s;
    color:rgba(0, 0, 255, 0.889);
}